<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="GenericXmlSerializerSectionHandler"
             type ="Rock.Configuration.XmlSerializerSectionHandler`1[[Example.MutableConfig, Rock.Core.IntegrationTests]], Rock.Core"/>
    <section name ="NonGenericXmlSerializerSectionHandler"
             type ="Rock.Configuration.XmlSerializerSectionHandler, Rock.Core"/>
    <section name ="CustomXmlSerializerSectionHandler"
             type ="Example.CustomXmlSerializerSectionHandler, Rock.Core.IntegrationTests"/>

    <section name ="GenericXSerializerSectionHandler"
             type ="Rock.Configuration.XSerializerSectionHandler`1[[Example.ImmutableConfig, Rock.Core.IntegrationTests]], Rock.Core.XSerializer"/>
    <section name ="NonGenericXSerializerSectionHandler"
             type ="Rock.Configuration.XSerializerSectionHandler, Rock.Core.XSerializer"/>
    <section name ="CustomXSerializerSectionHandler"
             type ="Example.CustomXSerializerSectionHandler, Rock.Core.IntegrationTests"/>

    <section name ="Broken1"
             type ="Rock.Configuration.XmlSerializerSectionHandler, Rock.Core"/>
    <section name ="Broken2"
             type ="Rock.Configuration.XmlSerializerSectionHandler, Rock.Core"/>
    <section name ="Broken3"
             type ="Rock.Configuration.XmlSerializerSectionHandler, Rock.Core"/>

    <section name ="Broken4"
             type ="Rock.Configuration.XSerializerSectionHandler, Rock.Core.XSerializer"/>
    <section name ="Broken5"
             type ="Rock.Configuration.XSerializerSectionHandler, Rock.Core.XSerializer"/>
    <section name ="Broken6"
             type ="Rock.Configuration.XSerializerSectionHandler, Rock.Core.XSerializer"/>
  </configSections>

  <appSettings>
    <add key="Rock.BackgroundErrorLogging.LibraryLogger.Current"
         value="Rock.BackgroundErrorLogging.ConsoleLibraryLogger, Rock.Core" />
  </appSettings>
  
  <!-- The config type is defined in the section declaration -->
  <GenericXmlSerializerSectionHandler Foo="First">
    <Bar Baz="abc">123</Bar>
  </GenericXmlSerializerSectionHandler>

  <!-- The config type is defined here -->
  <NonGenericXmlSerializerSectionHandler Foo="Second" type="Example.MutableConfig, Rock.Core.IntegrationTests">
    <Bar Baz="bcd">234</Bar>
  </NonGenericXmlSerializerSectionHandler>

  <!-- The config type is defined by the inheritor of XmlSerializerSectionHandler -->
  <CustomXmlSerializerSectionHandler Foo="Third">
    <Bar Baz="cde">345</Bar>
  </CustomXmlSerializerSectionHandler>

  <!-- The config type is defined in the section declaration -->
  <GenericXSerializerSectionHandler Foo="Fourth">
    <Bar Baz="def">456</Bar>
  </GenericXSerializerSectionHandler>

  <!-- The config type is defined here -->
  <NonGenericXSerializerSectionHandler Foo="Fifth" type="Example.ImmutableConfig, Rock.Core.IntegrationTests">
    <Bar Baz="efg">567</Bar>
  </NonGenericXSerializerSectionHandler>
  
  <!-- The config type is defined by the inheritor of XSerializerSectionHandler -->
  <CustomXSerializerSectionHandler Foo="Sixth">
    <Bar Baz="fgh">678</Bar>
  </CustomXSerializerSectionHandler>
  
  <!-- The Broken1 element is missing its 'type' attribute -->
  <Broken1 Foo="Second">
    <Bar Baz="bcd">123</Bar>
  </Broken1>

  <!-- The Broken2 element has an invalid value for its 'type' attribute -->
  <Broken2 Foo="Second" type="this in no way describes a type">
    <Bar Baz="bcd">123</Bar>
  </Broken2>

  <!-- The value of the Broken3.Bar element should be an integer -->
  <Broken3 Foo="Second" type="Example.MutableConfig, Rock.Core.IntegrationTests">
    <Bar Baz="bcd">abc</Bar>
  </Broken3>
  
  <!-- The Broken4 element is missing its 'type' attribute -->
  <Broken4 Foo="Second">
    <Bar Baz="bcd">123</Bar>
  </Broken4>

  <!-- The Broken5 element has an invalid value for its 'type' attribute -->
  <Broken5 Foo="Second" type="this in no way describes a type">
    <Bar Baz="bcd">123</Bar>
  </Broken5>

  <!-- The value of the Broken6.Bar element should be an integer -->
  <Broken6 Foo="Second" type="Example.ImmutableConfig, Rock.Core.IntegrationTests">
    <Bar Baz="bcd">abc</Bar>
  </Broken6>
  
  <system.net>
    <!-- These mail settings are used by Mail.SendExtensionTests -->
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="7777" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>