<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <!-- These mail settings are used by Mail.SendExtensionTests -->
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="7777" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>